.producties {
  display: flex;
}
.productCart {
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
}
.productCard__content {
  padding-left: 8px;
  background-color: #03313c;
  border-radius: 3px 25px 10px 10px;
  color: #fff;
}
.productCard__img {
  padding: 30px 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.product__btn {
  max-width: 70px;
  height: 32px;

  background-color: #59d4d700;
  margin: 4px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
  background-size: 200% auto;
  border: none;
  color: #ffffff;
  box-shadow: 0 0 20px rgb(125, 120, 120);
  border-radius: 10px;
  display: block;
  justify-content: flex-end;
  width: 150px;
}
.product__btn:hover {
  background-position: right center;
  box-shadow: 0 0 20px rgb(147, 137, 137);
  transform: translateY(0.2rem);
  color: #fff;
  text-decoration: none;
}
.productPrice {
  padding: 5px;
  justify-content: flex-start;
}
.product__info {
  display: flex;
  justify-content: space-around;
}
.product__Rating {
  position: absolute;
  top: 3px;
  right: 7px;
}
