header {
  background-color: #03313c;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 15px 0 #000;
}
header * {
  display: flex;
}
header li {
  margin: 20px;
}
header li a {
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
}
header li a:hover {
  color: #fff;
  border-bottom: 1px solid orange;
}
nav {
  align-items: center;
  margin-right: 60px;
}
.nav__logo {
  height: 40px;
  width: 50px;
}
.person {
  color: orange;
}
.person p {
  margin-left: 10px;
}
.icon {
  width: 20px;
  height: 20px;
}
.logout {
  display: flex;
  align-items: center;

  text-transform: uppercase;
  font-size: 14px;
  color: orange;
  margin-right: 60px;
  padding-bottom: 10px;
}
